﻿
@model ETOS.WebUI.ViewModels.RequestsViewModels.RequestHandleViewModel
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
	<title>Секретарь</title>
</head>
<body>

	<br />
	<br />
	<h2>Описание заявки</h2>
	<br />

	@*<div>Время создания заявки : @Model.Request.CreationDateTime </div>
	<div>ФИО : @Model.Request.AuthorLastName  @Model.Request.AuthorFirstName </div>
	<div>Откуда : @Model.Request.DeparturePointName</div>
	<div>Куда : @Model.Request.DestinationPointName</div>
	<div>Время отправки : @Model.Request.DepartureDateTime</div>
	<div>Багаж : @Model.Request.HasBaggage</div>
	<div>Комментарий : @Model.Request.Comment </div>
	<div>Расстояние : @Model.Request.Mileage</div>
	<div>Стоимость : @Model.Request.Price</div>
	<div>Статус : @Model.Request.StatusId</div>*@

	<div>
		<table>
			<tr>
				<td>Время создания заявки</td>
				<td>@Model.Request.CreationDateTime</td>
			</tr>
			<tr>
				<td>ФИО</td>
				<td>@Model.Request.AuthorLastName  @Model.Request.AuthorFirstName</td>
			</tr>
			<tr>
				<td>Откуда</td>
				<td>@Model.Request.DeparturePointName</td>
			</tr>
			<tr>
				<td>Куда</td>
				<td>@Model.Request.DestinationPointName</td>
			</tr>
			<tr>
				<td>Время отправки</td>
				<td>@Model.Request.DepartureDateTime</td>
			</tr>
			<tr>
				<td>Багаж</td>
				<td>@Model.Request.HasBaggage</td>
			</tr>
			<tr>
				<td>Комментарий</td>
				<td>@Model.Request.Comment</td>
			</tr>
			<tr>
				<td>Расстояние</td>
				<td>@Model.Request.Mileage</td>
			</tr>
			<tr>
				<td>Стоимость</td>
				<td>@Model.Request.Price</td>
			</tr>
			<tr>
				<td>Статус</td>
				<td>@Model.Request.StatusId</td>
			</tr>
		</table>

		<h3>Действия</h3>
		<br />

		<div class="col-md-10">
			@using (Html.BeginForm("Select/" + @Model.Request.Id.ToString(), "Contractor", FormMethod.Get))
			{
				<input type="submit" value="Подобрать такси" class="btn btn-info" style="width: 200px" />
			}
		</div>
		<div class="col-md-10">
			@using (Html.BeginForm("SecretaryFinishFailed", "Request", FormMethod.Post))
			{
				@Html.HiddenFor(m => m.Request.Id, Model.Request.Id)
				@Html.HiddenFor(m => m.Request.StatusId, Model.Request.StatusId)
				<input type="submit" value="Завершена не успешно" class="btn-warning" style="width: 200px" />
			}
		</div>

		<div class="col-md-10">
			@using (Html.BeginForm("SecretaryFinishSuccess", "Request", FormMethod.Post))
			{
				@Html.HiddenFor(m => m.Request.Id, Model.Request.Id)
				@Html.HiddenFor(m => m.Request.StatusId, Model.Request.StatusId)
				<input type="submit" value="Завершена успешно" class="btn btn-success" style="width: 200px" />
			}
		</div>

		<table>
			<tr>
				@using (Html.BeginForm("SecretaryReject", "Request", FormMethod.Post))
			{
					<td>
						<div class="col-md-10">
							<input type="submit" value="Отклонить" class="btn-danger" style="width: 200px" />
						</div>
					</td>
					<td>
						<div class="col-md-10">
							<div>Причина</div>
							@Html.HiddenFor(m => m.Request.Id, Model.Request.Id)
							@Html.HiddenFor(m => m.Request.StatusId, Model.Request.StatusId)
						</div>
					</td>
					<td>
						<div class="col-md-10">
							@Html.TextBoxFor(a => a.Request.Comment, new { @class = "form-control", style = "width: 200px; text-align:center"})
						</div>
					</td>
			}
			</tr>
		</table>
	</div>

	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
